<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
    {% extends "tarefas/base.html" %}
    {% load bootstrap5 %}
</head>
{% block content %}
<body>
    <h1 class="text-center">Editar Tarefas</h1>
    <form action="" method="POST" class="form text-center">
        {% csrf_token %}

        <!-- Criação do formulário de edição -->
        <div class="row justify-content-center">
            <div class="col-md-5">
            {% bootstrap_form form %}
            </div>
         </div>

        <!-- Botão Enviar para colocar as informações no banco de dados -->
        <input class="btn btn-primary" type="submit" value="Enviar">
    </form>
</body>
{% endblock content %}
</html>