<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
    <!-- Importação do bootstrap e extensão do cabeçalho -->
    {% extends "tarefas/base.html" %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% block content %}
<body>
    <h1 class="text-center">Tarefas Pendentes</h1>

    <div class="text-center mt-3 mb-4">
    <a class="btn btn-success" href="{% url 'tarefas:adicionar' %}">Adicionar Tarefas</a>
    </div>

    <div class="conteiner mt-3">
        <div class="row justify-content-center">
            <div class="col-10">
{% if tarefas %}
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <th class="text-center">Nome</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Data de criação</th>
                    <th class="text-center">Prazo Final</th>
                    <th class="text-center">Situação</th>
                    <th class="text-center">Ações</th>
                </thead>
                <tbody>
                    {% for tarefa in tarefas %}
                    <tr>
                        <td class="text-center">{{tarefa.tarefa}}</td>

                        {% if tarefa.data_criacao < tarefa.prazo_final or tarefa.prazo_final == None %}
                            <td class="text-center"><span class="badge bg-warning text-dark">Em andamento</span></td>
                        {% else %}
                            <td class="text-center"><span class="badge bg-danger">Atrasado</span></td>
                        {% endif %}

                        <td class="text-center">{{tarefa.data_criacao}}</td>

                        {% if tarefa.prazo_final == None %}
                            <td class="text-center">Prazo não definido</td>
                        {% else %}
                            <td class="text-center">{{tarefa.prazo_final}}</td>
                        {% endif %}

                        <td class="text-center align-middle">
                            <form method="POST" action="{% url 'tarefas:toggle' tarefa.id %}" style="display: inline;">
                                {% csrf_token %}

                                <input type="checkbox"
                                       name="completo"
                                       onChange="this.form.submit()"
                                       {% if tarefa.feito %}checked{% endif %}>

                                <input type="hidden" name="action" value="toggle">
                            </form>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-primary" href="{% url 'tarefas:editar' tarefa.id %}">Editar</a>
                            <a class="btn btn-danger" href="{% url 'tarefas:remover' tarefa.id %}">Remover</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
{% else %}
    <!-- Se não houver nenhuma tarefa para visualizar, irá aparecer essa mensagem -->
    <p class="text-center">Nenhuma tarefa pendente!</p>
{% endif %}
</body>
{% endblock content %}
</html>