<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To-Do List Home</title>
    {% extends "tarefas/base.html" %}
    {% block content %}
</head>

{% block header %}
    <div class="container-fluid bg-light text-dark p-5">
        <div class="container">
        <h1 class="display-4 fw-bold text-center">Seja bem vindo</h1>
        </div>
    </div>
{% endblock header %}
<body>
    <h3 class="text-center">Crie uma conta para usar o site e poder gerenciar suas tarefas.<br>
        Se não possui uma conta, faça seu registro e comece a usar nosso site! <br><a href="{% url 'register' %}">Registro</a></h3>
</body>
{% endblock content %}
</html>
