{% extends 'tarefas/base.html' %}
{% load bootstrap5 %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registro</title>
    <!-- Criação do formulário para registro -->
    <form action="{% url 'register' %}" method="POST" class="form text-center">
        {% csrf_token %}

         <div class="row justify-content-center">
            <div class="col-md-5">
            {% bootstrap_form form %}
            </div>
         </div>
        <!-- Informações que serão enviadas para o banco de dados -->
        <button class="btn btn-primary" name="submit">Registrar</button>
        <input type="hidden" name="next" value="{% url 'tarefas:index' %}"/>
    </form>

{% endblock content %}